body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}


h1 {
    margin:40px;
}


.gallery {

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;

}


.gallery img {

    width:300px;
    height:300px;

    object-fit:cover;

    border-radius:15px;

}