*{

box-sizing:border-box;

}


body{


margin:0;


background:#111;


color:white;


font-family:
"Microsoft YaHei";


}




.page{


height:100vh;


width:100%;


display:flex;


align-items:center;


justify-content:center;


background:
linear-gradient(
135deg,
#111,
#333
);


}



.hide{

display:none;

}




.box{


background:
rgba(255,255,255,.12);


backdrop-filter:
blur(20px);


padding:50px;


border-radius:25px;


text-align:center;


animation:
fade .8s;


}



button{


font-size:20px;


padding:15px 50px;


margin:20px;


border-radius:30px;


border:none;


cursor:pointer;


}



button:hover{


transform:scale(1.1);


}




.progress{


width:300px;


height:10px;


background:#333;


border-radius:20px;


overflow:hidden;


margin:30px auto;


}


.progress div{


height:100%;


width:40%;


background:white;


animation:
move 1.5s infinite;


}




.galleryPage{


padding:40px;


text-align:center;


}



.gallery{


max-width:1200px;


margin:auto;


display:grid;


grid-template-columns:
repeat(4,1fr);


gap:20px;


}


.gallery{


display:grid;


grid-template-columns:
repeat(4,1fr);


gap:20px;


}



.image-card{


position:relative;


aspect-ratio:1;


overflow:hidden;


border-radius:18px;


background:#1b1b1b;


cursor:pointer;


}





/* 占位动画 */


.skeleton{


position:absolute;


inset:0;


background:
linear-gradient(
110deg,
#1b1b1b 20%,
#333 40%,
#1b1b1b 60%
);


background-size:
200% 100%;


animation:
shine 1.5s infinite;


}




@keyframes shine{


from{

background-position:
200% 0;

}


to{

background-position:
-200% 0;

}


}






.image-card img{


width:100%;


height:100%;


object-fit:cover;


opacity:0;


transform:
scale(1.05);


transition:
opacity .6s ease,
transform .6s ease;


}





.image-card img.loaded{


opacity:1;


transform:
scale(1);


}



.image-card img.loaded
+
.skeleton{


opacity:0;


}





@media(max-width:700px){


.gallery{


grid-template-columns:
repeat(2,1fr);


}


}



.gallery img:nth-child(n){

animation-delay:
calc(.05s * var(--i));

}




@keyframes fade{


from{

opacity:0;

transform:
translateY(30px);

}


to{

opacity:1;

}


}



@keyframes move{


from{

transform:
translateX(-200%);

}


to{

transform:
translateX(300%);

}


}



@keyframes showImg{


to{

opacity:1;

}


}



@media(max-width:700px){


.gallery{


grid-template-columns:
repeat(2,1fr);


}


}

/* 图片预览 */

#preview{


position:fixed;


top:0;

left:0;


width:100%;


height:100%;


background:
rgba(0,0,0,0.85);



display:none;


justify-content:center;


align-items:center;


z-index:999;



animation:
fade .3s;


}




#preview img{


max-width:90%;


max-height:90%;


border-radius:20px;



box-shadow:
0 20px 60px rgba(0,0,0,.8);



animation:
zoom .35s;


}





@keyframes zoom{


from{


transform:
scale(.7);


opacity:0;


}


to{


transform:
scale(1);


opacity:1;


}


}